<h1><%= @game.white_player.playername %> - <%= @game.name %></h1>

<h4><%= @game.state %></h4>

<h3>Speical Moves</h3>
<%= button_to 'Castle Queenside', '#', class: 'castle' %>
<%= button_to 'Castle Kingside', '#', class: 'castle' %>

<table class='chessboard'>
	<% @chess_board.each_with_index do |row, y| %>
		<tr>
			<% row.each_with_index do |piece, x| %>
				<td  data-row=<%= y %> data-column=<%= x %>
					class=<%= (!piece.nil? && Pieces::Disabled.call(piece)) ? 'draggable' : 'droppable' %> >
          <% if !piece.nil? %>
						<%= image_tag piece.picture,
						class: "piece",
						data: {
              row: y,
              column: x,
              url: piece_path(piece)
            }
						%>
					<% end %>
        </td>
			<% end %>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(()=>{

		$('.castle').click((e)=>{
			$.ajax({
				type: 'PUT',
				url: url,
				data: { row: $(e.target).data('row'), column: $(e.target).data('column') }
			});
		})

		let droppable = (url) => {
			$( ".droppable" ).droppable({
				drop: (e)=>{
					$.ajax({
		        type: 'PUT',
		        url: url,
		        data: { row: $(e.target).data('row'), column: $(e.target).data('column') }
		      });
				}
			});
		}

		$('.draggable .piece').draggable({
			drag: (e) =>{
				droppable($(e.target).data('url'));
			}
		});

	});
</script>
