<div id="game" class='game_wrapper'>
	<section class="inner">
		<section>
			<h1><%= @game.name %></h1>
			<ul>
				<li><h4><span>Game Author: </span><%= @game.white_player.playername %></h4></li>
				<li><h4><span>Date Created: </span><%= @game.created_at.strftime("%b %d, %Y") %></h4></li>
				<li><h4><span>White Player: </span><%= @game.white_player.playername %></h4></li>
				<li><h4><span>Black Player: </span><%= @game.black_player ? @game.black_player.playername : 'Waiting for player' %></h4></li>
			</ul>
		</section>
		<div id='game_board'>
			<%= render 'chessboard' %>
		</div>
	</section>
</div>
