<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if player_signed_in? %>
        <%= link_to 'Sign Out', destroy_player_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in with Facebook", player_facebook_omniauth_authorize_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
