<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="is-preload">

  	<!-- Page Wrapper -->
  		<div id="page-wrapper">

        <% if player_signed_in? %>
    			<!-- Header -->
    				<header id="header" class="alt">
    					<h1><a href="index.html">Chess Senders</a></h1>
    					<nav>
    						<a href="#menu">Menu</a>
    					</nav>
    				</header>

    			<!-- Menu -->
    				<nav id="menu">
    					<div class="inner">
    						<h2>Menu</h2>
    						<ul class="links">
    							<li><%= link_to 'Sign Out', destroy_player_session_path, method: :delete %></li>
    							<li><%= link_to 'Dashboard', player_path(current_player) %></li>
    							<li><%= link_to 'Join Game', games_path %></li>
    							<li><%= link_to 'Create Game', new_game_path, method: :get %></li>
    						</ul>
    						<a href="#" class="close">Close</a>
    					</div>
    				</nav>
          <% end %>

        <% if notice.present? %>
          <p class="alert alert-info text-center"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger text-center"><%= alert %></p>
        <% end %>

        <%= yield %>
  </body>
</html>
